[Desktop Entry]
Type=Application
Exec=/usr/local/bin/display_start.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=vuListening
Comment=listener