

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.title-gif {
  background-color:transparent;
  overflow: hidden;
  min-height: 50%;
  height: 500px;
 }

h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
}

.full-jumbo {
  height: 100vh;
}

.title-gif h1 {
  font-size: 60px;
}

.full-jumbo h1 {
  font-size: 7vw;
}

.full-jumbo h2 {
  font-size: 4vw;
  font-weight: 400;
}

.full-jumbo h3 {
  font-size: 3vw;
  font-weight: 300;
}

.full-jumbo p {
  font-size: 12pt;
  font-weight: 300;
}

.full-jumbo .container {
  max-width: 100vw;
}

.img-overlay {
  background-color: #17234E;
  background-image: url("../img/displays.gif");
  filter: brightness(70%);
  position: absolute;
  width: 100%;
  height: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

/* footnotes from
https://www.sitepoint.com/accessible-footnotes-css/
*/
#footnotes li {
  margin: 0 0 .5em 2em;
  text-indent: -2em ;
}

#footnotes {
  list-style: none;
}

.pad-container {
  padding-top: 130px;
}

.pad-container-responsive {
  padding-top: 25vh;
}

.white-text {
  color: #ffffff;
}

.row img {
  width: 100%;
}

.top-buffer {
  padding-top: 2%;
}

.story-item {
  padding: 20px;
}

.story-quote {
  padding-left: 20px;
  padding-right: 30px;
}

body {
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  
}

p, li {
  line-height: 19.5pt;
  font-weight: 400;
}

footer {
  font-size: 11pt;
  padding-bottom: .5em;

}

footer p {
  margin-bottom: 0;
  line-height: 18pt;
}

/* https://stackoverflow.com/questions/20547819/vertical-align-with-bootstrap-3/27771750#27771750
*/
.row-xs-flex-center {
    display:flex;
    align-items:center;
}

.block-center {
    float: none;
    margin: 0 auto;
}

.nav_vu {
  text-align: center;
  font-size: 15px;
}


.navbar .container {
  padding-right: 0px;
  padding-left: 0px;
}

.center.navbar .nav,
.center.navbar .nav > li {
 float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

@media ( min-width:700px ) {
    .row-sm-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 992px ) {
    .row-md-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 1200px ) {
    .row-lg-flex-center {
        display:flex;
        align-items:center;
    }
}
/* end */




