

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.title-gif {
  background-image: url("../img/streaking.gif");
  background-color: #17234E;
  margin-bottom: 0;`enter code here`
  min-height: 50%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.title-container {
  padding-top: 130px;
}
.no-top-padding {
  padding-top: 0px;
}

#title, #subtitle {
  color: #ffffff;
}

.row img {
  width: 100%;
}








